<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zark.sbproject.boot.entity.conf.mapper.ConfDoMapperExt" >
  <resultMap id="BaseResultMap" type="com.zark.sbproject.boot.entity.conf.module.ConfDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="modifier" property="modifier" jdbcType="VARCHAR" />
    <result column="config" property="config" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_create, gmt_modified, creator, modifier, config
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zark.sbproject.boot.entity.conf.module.ConfDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from boot_conf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test=" null!=oredCriteria and oredCriteria.size != 0" >
      and is_deleted = 'n'
    </if>
    <if test=" null!=oredCriteria and oredCriteria.size == 0" >
       where is_deleted = 'n' 
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from boot_conf
    where id = #{id,jdbcType=BIGINT}
    and is_deleted = 'n'
  </select>
  <update id="deleteByPrimaryKey" parameterType="com.zark.sbproject.boot.entity.conf.module.ConfDo" >
    update boot_conf set is_deleted = 'y',modifier=#{modifier,jdbcType=VARCHAR},gmt_modified=NOW() where ID = #{id,jdbcType=NUMERIC}
  </update>
  <insert id="insertSelective" parameterType="com.zark.sbproject.boot.entity.conf.module.ConfDo" keyProperty="id" useGeneratedKeys="true" >
    insert into boot_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="creator == null" >
        creator,
      </if>
      <if test="modifier == null" >
        modifier,
      </if>
      <if test="gmtModified == null" >
        gmt_modified,
      </if>
      <if test="gmtCreate == null" >
        gmt_create,
      </if>
      <if test="isDeleted == null" >
        is_deleted,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="config != null" >
        config,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="creator == null" >
        'system',
      </if>
      <if test="modifier == null" >
        'system',
      </if>
      <if test="gmtModified == null" >
        NOW(),
      </if>
      <if test="gmtCreate == null" >
        NOW(),
      </if>
      <if test="isDeleted == null" >
        'n',
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="config != null" >
        #{config,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zark.sbproject.boot.entity.conf.module.ConfDoExample" resultType="java.lang.Integer" >
    select count(*) from boot_conf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test=" null!=oredCriteria and oredCriteria.size != 0" >
      and is_deleted = 'n'
    </if>
    <if test=" null!=oredCriteria and oredCriteria.size == 0" >
       where is_deleted = 'n' 
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.zark.sbproject.boot.entity.conf.module.ConfDo" >
    update boot_conf
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified == null" >
        gmt_modified = NOW(),
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifier == null" >
        modifier = 'system',
      </if>
      <if test="config != null" >
        config = #{config,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
    and is_deleted = 'n'
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zark.sbproject.boot.entity.conf.module.ConfDo" >
    update boot_conf
    set is_deleted = #{isDeleted,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR},
      config = #{config,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
    and is_deleted = 'n'
  </update>
  <sql id="MySqlDialectSuffix" >
    <if test="page != null" >
      <![CDATA[  limit #{page.begin},#{page.end}  ]]>
    </if>
  </sql>
</mapper>